body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0 !important;
}

body, .container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #343a40;
    margin: 0;
    padding: 0;
}

body.hide_future .event.before {
    display: none;
}

.event {
    background: yellow;
    width: auto;
    padding: 20px;
}

.event .primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event h1 {
    font-size: 45px;
    margin: 0;
}

.event h2 {
    font-size: 30px;
    margin: 5px;
}

.event h3 {
    font-size: 25px;
    margin: 5px;
}

.event .left {
    /* fix truncated text */
    min-width: 0;
}

.event:not(.clicked) .left h1,
.event:not(.clicked) .left h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event .right {
    text-align: center;
    min-width: 250px;
}

.event .time {
    font-size: 50px;
    font-weight: 100;
}

.event .length {
    font-size: 30px;
    font-weight: 100;
    padding-top: 5px;
}

.event:not(.clicked) .secondary {
    display: none;
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}


.dblclicked {
    background-color: rgb(48, 128, 80) !important;
    animation-name: hide;
    animation-duration: 5s;
    opacity: 0;
}

.completed {
    display: none;
}

.allDone {
    color: white;
    padding: 20px;
}